* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #fff;
}

.back {
  position: absolute;
  left: 20px;
  top: 30px;
  color: #2D0C57;
  font-size: 22px;
}

.msg {
  position: absolute;
  right: 60px;
  top: 30px;
  color: #2D0C57;
  font-size: 22px;
}

.header {
  position: relative;
}

.logo {
  width: 30%;
  margin-top: 30px;
  margin-left: 35%;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #000;
  font-size: 30px;
}


.map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card {
  position: absolute;
  bottom: 30px;
  width: 90%;
  margin-left: 5%;
  padding: 30px;
  --background: #fff;
}

ion-button {
  --background: #ffd421;
}


.btn {
  color: #000000;
  width: 90%;
  margin-left: 5%;
  height: 55px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #111;
}

.sub {
  font-size: 16px;
  color: #858585;
}
